name: Pylint

on: [push, workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.10
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pip install aerofiles
    - name: Analysing the code with pylint
      run: |
        pylint --fail-under=8.0 $(git ls-files '*.py')
